body {
    background: #555;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    color: #e2e2e2;
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.329);
}

footer {
    color: #e2e2e2;
    display: flex;
    justify-content: center;
}
